@use "vars" as *;
@use "mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --c-primary: #{$color-green};
  --c-fill: #cbdcd3;
  --c-fill-thumb: var(--c-primary);

}

html {
  font-size: 14px;
  line-height: 1.45em;
}

body {
  font-family: "PT Root UI", "sans-serif";
  color: $color-text-primary;
}

h1 {
  font-size: 54px;
  line-height: 1em;
  margin-bottom: 24px;
}

.mobile-hidden {
  display: none;

  @include respond(desktop) {
    display: inherit;
  }
}



