@use 'sass:color';

$color-text-primary: #0B1739;
$color-text-secondary: rgba($color-text-primary, 50%);

$color-green: #3EB57C;
$color-green-light: color.adjust($color-green, $lightness: 40%);
$color-black: #000000;
$color-white: #FFFFFF;
$color-light-gray: rgba($color-black, 10%);
